body{margin: 5px;}



.logo{
    margin-left: 192px;
}
::placeholder{background-image: url('https://raw.githubusercontent.com/Kodluyoruz/taskforce/cb146bef1ef9c2fe21b983b1cee3fd23f09d0edf/bootstrap/odev2/instagramclone/assets/search-solid.svg');
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 18px;
}
.middlearea{

    max-height: 200px !important;
    
}
.storyphoto{
padding: 0;
    width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}
.storytext{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black
}
.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
} 
.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}